.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8e44ad;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
  }
